[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipdb = "*"
ipython = "*"

[packages]
dash = "*"
dash-daq = "*"
pandas = "*"
dash-bootstrap-components = "*"
twarc = "*"
tweepy = "*"
nbimporter = "*"
sklearn = "*"
click = "*"
tqdm = "*"

[requires]
python_version = "3.5"
